#channel-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#search-bar {
    width: 100%;
    height: 5%;
    box-sizing: border-box;
}

#file-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#file-list li {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-bottom: 2px solid #000;
    user-select: none; 
}

#file-list li.selected {
    background-color: #1E90FF; 
    color: white;
}

.group {
    margin-bottom: 10px;
}

.group-title {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px;
    background: #eee;
    cursor: pointer;
}

.group-title:before {
    content: '▶';
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.group.open .group-title:before {
    transform: rotate(90deg);
}

.group ul {
    list-style-type: none;
    padding: 0;
    padding-left: 20px;
    display: none;
}

.group.open ul {
    display: block;
}

.group li {
    padding: 5px 0;
}

.group ul li {
    border-bottom: 2px solid #000; 
    user-select: none; 
}

.action-button {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}

.action-button:hover {
    background-color: #007B9E;
}