.channel-info {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    width: 100%;
    height: auto;
}

.channel-icon {
    width: 100%;
    height: auto;
    user-select: none;
    transition: filter 0.2s;
}

.channel-icon:hover {
    filter: brightness(1.2);
}

.icon-wrapper {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -35px; 
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.icon-wrapper:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}


.image-grid {
    display: flex; 
    gap: 10px;
}

.image-wrapper {
    border: 1px solid #ddd;
    padding: 5px;
    cursor: pointer;
    text-align: center;
}

.image-wrapper img {
    width: 40px;  
    height: 40px; 
    object-fit: cover; 
}

.dropdown {
    position: absolute;
    display: none;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%; 
    left: 0;
    padding: 8px; 
}


.video-info {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    display: none; 
}

.video-info.good {
    color: green;
}

.video-info.medium {
    color: orange;
}

.video-info.poor {
    color: red;
}

.no-video-message {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    display: none; 
}
