<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="main-container">
        <div class="sidebar">
            <div class="channel-info">채널 정보</div>
            <div class="channel-list" id="channel-list"></div>
            <div class="button-container">
                <button id="add-channel">채널 등록</button>
                <button id="remove-channel">채널 삭제</button>
            </div>
        </div>
        <div class="video-players">
            <div class="player player1">
                <video id="video1" width="100%" height="100%" autoplay muted></video>
            </div>
            <div class="player player2">
                <video id="video2" width="100%" height="100%" autoplay muted></video>
            </div>
            <div class="player player3">
                <video id="video3" width="100%" height="100%" autoplay muted></video>
            </div>
            <div class="player player4">
                <video id="video4" width="100%" height="100%" autoplay muted></video>
            </div>
        </div>
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close-btn" id="close-modal">&times;</span>
            <h1>채널 등록</h1>
            <form id="channel-form">
                <div class="form-group">
                    <label for="ip">IP:</label>
                    <input type="text" id="ip" name="ip" class="input-field">
                </div>
                <div class="form-group">
                    <label for="id">ID:</label>
                    <input type="text" id="id" name="id" class="input-field">
                </div>
                <div class="form-group">
                    <label for="pass">Password:</label>
                    <input type="password" id="pass" name="pass" class="input-field">
                </div>
                <div class="button-container">
                    <button type="button" onclick="queryChannel()" class="action-button">조회</button>
                    <button type="button" id="cancel-button" class="cancel-button">취소</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/simple-peer@9.10.0/simplepeer.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>
